# compare https://editorconfig.org/
# and https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Dockerfile*]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2
